In [3]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6.tar.gz (383 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.0/384.0 kB 3.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.6-cp39-cp39-macosx_10_9_x86_64.whl size=133907 sha256=00339086d6e3e91a6b798af104fd89e0c9aacc133bd2b8c406be5b6d1774014a
  Stored in directory: /Users/samezibiome/Library/Caches/pip/wheels/e0/1d/09/2bc95af38e38d614767de0126fbf27a55a5c277f612aa6a51f
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [4]:
from flask import Flask, render_template, jsonify
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import sqlalchemy
from sqlalchemy import inspect
from pprint import pprint

In [5]:
# Database Setup
url= "postgresql://skbuqieh:YXm0YsioQnkqxA92fuujM6M9ozp8sLi5@ruby.db.elephantsql.com/skbuqieh"
engine = create_engine(url)

In [36]:
Base = automap_base()
Base.prepare(engine, reflect=True)
#Base.metadata.tables
Base.classes.keys()
# table_names = Base.metadata.tables.keys()
# print(table_names)
# Stadiums = Base.classes.stadiums_data
# Sunburst = Base.classes.sunburst_data
# Wages = Base.classes.league_wages
# Points = Base.classes.league_pts

['stadiums_data', 'league_wages', 'league_pts', 'sunburst_data']

In [37]:
engine.url.database

'skbuqieh'

In [7]:
Stadiums = Base.classes.stadiums_data
Sunburst = Base.classes.sunburst_data
Wages = Base.classes.league_wages
Points = Base.classes.league_pts

In [8]:
inspector = inspect(engine)
columns_sunburst = inspector.get_columns('sunburst_data')
for column in columns_sunburst:
    print(column['name'], column['type'])

league VARCHAR(255)
seasons VARCHAR(255)
league_rank INTEGER
squad VARCHAR(255)
player VARCHAR(255)
goals INTEGER
team_total INTEGER
league_total DOUBLE_PRECISION
goals_rank INTEGER
id INTEGER

In [34]:
session = Session(engine)

In [17]:
response_sunburst = session.query(Sunburst.league, Sunburst.seasons, Sunburst.squad, Sunburst.league_total, Sunburst.team_total, 
                        Sunburst.player, Sunburst.goals).all()

In [19]:
response_sunburst[:3]

[('Bundesliga', '2017-2018', 'Bayern Munich', 811.0, 92, 'Robert Lewandowski', 29),
 ('Bundesliga', '2017-2018', 'Schalke 04', 811.0, 53, 'Guido Burgstaller', 11),
 ('Bundesliga', '2017-2018', 'Schalke 04', 811.0, 53, 'Naldo', 7)]

In [31]:
# import pandas as pd
# pd.set_option('display.max_rows', 300)
# sunburst_df = pd.DataFrame(response_sunburst, columns =['League', 'Seasons', 'Squad', 'League_Goals', 'Squad_Goals', 'Player', 'Player_Goals'])
# sunburst_df.sample(100)
# sunburst_sorted_df = sunburst_df.sort_values(by = ['League', 'Squad', 'Seasons'], ascending = [False,False,False])
# sunburst_sorted_df.groupby(['League', 'Squad', 'Player']).sum()

                                                                               Seasons
League     Squad         Player
Bundesliga Bayern Munich Alexander NÃ¼bel                                    2020-2021  \
                         Alphonso Davies          2021-20222020-20212019-20202018-2019
                         Arjen Robben                               2018-20192017-2018
                         Arturo Vidal                                        2017-2018
                         Benjamin Pavard                   2021-20222020-20212019-2020
...                                                                                ...
Serie A    Roma          SÃ©rgio Oliveira                                    2021-2022
                         Tammy Abraham                                       2021-2022
                         YÄ±ldÄ±rÄ±m Mert Ã‡etin                             2019-2020
                         Åukasz Skorupski                                   2017-2018
                         Å½an Celar                                          2018-2019

                                                  League_Goals  Squad_Goals
League     Squad         Player
Bundesliga Bayern Munich Alexander NÃ¼bel                928.0           99  \
                         Alphonso Davies                3806.0          384
                         Arjen Robben                   1753.0          180
                         Arturo Vidal                    811.0           92
                         Benjamin Pavard                2864.0          296
...                                                        ...          ...
Serie A    Roma          SÃ©rgio Oliveira               1089.0           59
                         Tammy Abraham                  1089.0           59
                         YÄ±ldÄ±rÄ±m Mert Ã‡etin        1154.0           77
                         Åukasz Skorupski              1017.0           61
                         Å½an Celar                     1019.0           66

                                                  Player_Goals
League     Squad         Player
Bundesliga Bayern Munich Alexander NÃ¼bel                    0
                         Alphonso Davies                     5
                         Arjen Robben                        9
                         Arturo Vidal                        6
                         Benjamin Pavard                     4
...                                                        ...
Serie A    Roma          SÃ©rgio Oliveira                    2
                         Tammy Abraham                      17
                         YÄ±ldÄ±rÄ±m Mert Ã‡etin             0
                         Åukasz Skorupski                   0
                         Å½an Celar                          0

[1626 rows x 4 columns]

In [32]:
columns_wages = inspector.get_columns('league_wages')
for column in columns_wages:
    print(column['name'], column['type'])

league VARCHAR(255)
avgofannual_wages DOUBLE_PRECISION
squad VARCHAR(255)
wages_rank INTEGER
id INTEGER

In [33]:
columns_pts = inspector.get_columns('league_pts')
for column in columns_pts:
    print(column['name'], column['type'])

league VARCHAR(255)
avg_pts DOUBLE_PRECISION
squad VARCHAR(255)
pts_rank INTEGER
id INTEGER

In [46]:
response_wages_pts = session.query(Wages.league,Wages.avgofannual_wages, Wages.squad, Points.avg_pts)\
                            .join(Points, Wages.squad == Points.squad)\
                            .filter(Wages.league == 'Bundesliga')\
                            .order_by(Wages.league.asc(), Points.avg_pts.desc()).all()

response_wages_pts[:3]

[('Bundesliga', 214600262.6, 'Bayern Munich', 79.8),
 ('Bundesliga', 95156702.6, 'Dortmund', 66.6),
 ('Bundesliga', 56206762.0, 'RB Leipzig', 61.6)]

In [50]:
league_wages_pts_df = pd.DataFrame(response_wages_pts, columns = ['league', 'avg_wage', 'squad_name', 'avg_points'])
league_wages_pts_df.head()

       league     avg_wage     squad_name  avg_points
0  Bundesliga  214600262.6  Bayern Munich        79.8
1  Bundesliga   95156702.6       Dortmund        66.6
2  Bundesliga   56206762.0     RB Leipzig        61.6
3  Bundesliga   56000901.0     Leverkusen        58.4
4  Bundesliga   49089490.0     M'Gladbach        52.2

In [52]:
league_wages_pts_df.isna().sum()

league        0
avg_wage      0
squad_name    0
avg_points    0
dtype: int64

In [49]:
league_wage_pts = {}
squad_names = []
avg_wages = []
avg_points = []
for row in response_wages_pts:
    squad_name = row.squad
    wage = row.avgofannual_wages
    point = row.avg_pts
    squad_names.append(squad_name)
    avg_wages.append(wage)
    avg_points.append(point)

league_wage_pts['league'] = 'league'
league_wage_pts['squad_name'] = squad_names
league_wage_pts['avg_wage'] = avg_wages
league_wage_pts['points'] = avg_points
league_wage_pts

{'league': 'league',
 'squad_name': ['Bayern Munich',
  'Dortmund',
  'RB Leipzig',
  'Leverkusen',
  "M'Gladbach",
  'Eint Frankfurt',
  'Hoffenheim',
  'Union Berlin',
  'Wolfsburg',
  'Freiburg',
  'Bochum',
  'Mainz 05',
  'Werder Bremen',
  'Stuttgart',
  'Hertha BSC',
  'Schalke 04',
  'DÃ¼sseldorf',
  'Augsburg',
  'KÃ¶ln',
  'Arminia',
  'Hamburger SV',
  'Paderborn 07',
  'NÃ¼rnberg',
  'Greuther FÃ¼rth'],
 'avg_wage': [214600262.6,
  95156702.6,
  56206762.0,
  56000901.0,
  49089490.0,
  38849964.2,
  42290893.2,
  20433189.6666667,
  63199947.4,
  15936971.2,
  13768197.0,
  21579385.0,
  34358841.25,
  25449741.75,
  37924307.0,
  56765032.25,
  18905798.0,
  23492258.4,
  32381509.25,
  10303219.5,
  34882158.0,
  7143974.0,
  11176598.0,
  12942721.0],
 'points': [79.8,
  66.6,
  61.6,
  58.4,
  52.2,
  50.0,
  49.4,
  49.3333333333333,
  48.0,
  44.0,
  42.0,
  40.2,
  39.25,
  39.25,
  39.0,
  37.75,
  37.0,
  36.6,
  35.75,
  31.5,
  31.0,
  20.0,
  19.0,
  18.0]}

In [ ]:
session = Session(engine)
response_stadiums = session.query(Stadiums.city, Stadiums.club, Stadiums.stadium, Stadiums.cap,
                      Stadiums.country, Stadiums.longitude, Stadiums.latitude, Stadiums.trivia, Stadiums.league).all()
print(response_stadiums)

In [ ]:
features = []
for row in response_stadiums:
    properties = {
        'City': row.city,
        'Stadium name': row.stadium,
        'Squad name': row.club,
        'Capacity': row.cap,
        'Stadium fact': row.trivia
    }
    geometry = {
        'type': 'Point',
        'coordinates': [row.latitude, row.longitude]
    }
    feature = {
        'type': 'Feature',
        'geometry': geometry,
        'properties': properties
    }
    features.append(feature)
geojson_data = {
    'type': 'FeatureCollection',
    'features': features
}

pprint(geojson_data)

In [53]:
session.close()